@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet');

:root {
    --font: 'Fira Sans', sans-serif;
    
    --background: #282a36;
    --selection:#44475a00;
    --comment:#ffffff;
    --purple:#bd93f9;
    --white:#f8f8f2;
    --pink:#ffffff;
}
html{
    /* overflow-x: hidden; */
    overflow: overlay;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar{
    width: 12px;
    
    
}
::-webkit-scrollbar-track{
    background-color: #282a36;
    
    
}
::-webkit-scrollbar-thumb{
    background: rgb(40,42,54);
    background: linear-gradient(#282a36 0%, var(--purple) 50%, #282a36 100%);
    transition: background 1s;
}
section{
    
   position: relative;
   display: grid;
   justify-content: center;
   align-items: center;
   background: #282a361f;
    height: 20vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 25%;
    padding: 25px;
    padding-bottom: 100px;
    font-family: var(--font);
    border-radius: 25px;
    border-style: solid;
    border-color: #282a36;
    backdrop-filter: blur(50px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    
    
}
section:hover{
    
    margin-top: 24%;
    box-shadow: 0px 50px 500px rgba(128, 0, 128, 0.411);
}




#canvas{
    position: 100%;
}


body{
    background-image: url("img/kk.gif");
    background-size: 100%;
    background-position: fixed;
    /* background-position: 100%; */
    color: var(--white);
    background-attachment: fixed;
    
}

footer{
    text-align: center;

    color:var(--comment);

    font-family: var(--font);
    font-size: 0.75rem;
    font-weight: 400;
}

#userPhoto{
    width: 96px;
    height: 96px;

    display: block;

    margin: 35px auto 20px;

    border-radius: 50%;
    border: solid var(--purple) 2px;
    transition: ease 0.2s;
    
}
#userPhoto:hover{
    -webkit-filter: contrast(2500);
    transition:cubic-bezier(1,0,1,0)  5s;
}


#userName{
    width: 100%;

    color: var(--pink);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;

    text-align: center;
    text-decoration: none;

    line-height: 1.25;
    display: block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
#userName:hover{
    text-shadow: 0px 2px 12px purple;
}

#links{
    max-width: 675px;
    width: auto;

    display: block;

    margin: 27px auto;
}
.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;

    background-color: #282a3636;
    color:var(--comment);
    background: rgba(red, green, blue, 1);
    backdrop-filter: blur(25px);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500;

    border-radius: 25px;
    border: solid var(--purple) 1px;

    text-align: center;
    text-decoration: none;
    
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    
}

.link:hover{
    
    
    background-color: #282a3600;
    animation: glow 1.2s;
    animation-iteration-count: infinite;
    
    
}
@keyframes glow{
    0% {
        box-shadow: inset 0px 0px 50px rgba(140, 0, 255, 0.418);
    }
    50%{
        box-shadow: inset 0px 0px 25px rgba(140, 0, 255, 0.418);
    }
    100%{
        box-shadow: inset 0px 0px 50px rgba(140, 0, 255, 0.418);
    }
}